@media (min-width: 576px) {
  header .header .left {
    width: 30%;
  }
  header .header .left h1 {
    margin: 12px 20px;
    font-size: 28px;
  }
  header .header .left h1 i {
    font-size: 25px;
  }
  header .header .right {
    width: 70%;
    margin: 10px 10px 0px 0px;
  }
  header .header .right ul {
    display: flex;
    width: 100%;
  }

  header .header .right ul li {
    margin: 10px;
  }
  header .header .right ul li a {
    padding: 2px;
    font-size: 15px;
  }

  /* main  */
  .main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .main .left {
    width: 100%;
    margin: 50px 0px 0px 0px;
    padding-left: 30px;
  }

  .main .left h1 {
    font-size: 35px;
    padding-top: 10px;
  }

  .main .left button {
    margin: 20px 0px 10px 0px;
  }

  .main .right {
    width: 100%;
    height: 300px;
  }
  .main .right img {
    width: 100%;
    height: 50%;
    object-position: 50% 35%;
    object-fit: none;
  }
   /* section2  */
.section2{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  height: 300px;  

}

/* section3  */

.section3{
  margin-top: 70%;
}
.section3 .hot {
  position: relative;
  
  padding-left:20%;
}
.section3  .hot::before
 {
  position: absolute;
  left: 55px;
  top: 50%;

}
.section3 h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 50px;
}
.section3 .galary {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px 0px; 
  width: 100%; 
}
/* section4  */


.section4 .video {
  margin-top: 100px ;
  display: flex;
  justify-content: center;
  margin: 0px 50px 0px 50px;

  }
  .section4 video{
    width: 100%;
  }
  .section4 .find{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;
  }
  .section4 .find .left{
    width: 70%;
    margin: 10px auto;
  }
  .section4 .find .right{
    width: 70%;
    margin: 10px auto;
  }
  .section4 .find .left .hot {
    position: relative;
    padding-left:20%;
  }
  .section4 .find .left .hot::before {
    position: absolute;
    left: 0px;
  }
  

  .section4 .find .left h1{ 
    font-size: 25px;
    margin-left: 0px;

  }


}
