@media (min-width:768px){
    /* hedaer  */
    .right ul{
       list-style: none;
       display: flex;
       margin-top: 10px;
       justify-content: end;
       
    }
    /* section1  */
   .section1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
    
    }
  
    

   
   
   
    
  
   
}